* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1.5rem;
}

.top-nav-bar {
    color: var(--white);
    background: var(--primary-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    letter-spacing: var(--letterSpacing);
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
}

.top-nav-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.top-nav-bar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

/* .top-nav-bar li {
    display: none;
} */

.hide {
    display: none;
}

.top-nav-bar li {
}
